<style>
 table {
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  /* Espacio de relleno en celdas y cabeceras */
  td,
  th {
    padding: 10px;
  }
  /* Modificación de estilos en cabeceras */
  th {
    background: #000;
    color: #fff;
    text-transform: uppercase;
  }
  /* Modificación de estilos en celdas */
  td {
    text-align: center;
    border-bottom: 2px solid #111;
    color: #333;
    font-size: 18px;
  }

  #prograweb1{
  	background-color: rgb(104, 88, 176);
  }

  #ingerequisitos{
  	background-color: rgb(62, 112, 85);
  }
  #ingles{
  	background-color: rgb(108, 56, 148);

  }

  #lenguajesauto{
  	background-color: rgb(184, 172, 193);

  }

  #ingerequisitos{
  	background-color: rgb(69, 123, 94);

  }

  #liderequipos{
  	background-color: rgb(173, 172, 66);

  }

  #proyectosti{
   background-color: rgb(189, 99, 85);

  }

 #seplogo{
 	margin-left: 980px;

 }


</style>